.Team {
  border: 1px solid black;
  margin: 2px 700px;
  background-color: rgb(157, 243, 246);
}

.Team button {
  border-radius: 3px;
  background-color: lightblue;
  font-weight: bold;
}

.Result {
  border: 1px solid black;
  margin: 2px 750px;
  background-color: rgb(157, 243, 246);
}

@media (min-width: 480px) {
  .Team {
    min-width: 320px;
  }
}
