.Team {
  border: 1px solid black;
  margin: 2px;
  background-color: rgb(179, 180, 180);
  width: 500px;
  padding: 10px;
  display: inline-block;
}

.Team button {
  display: inline;
  border-radius: 3px;
  background-color: lightblue;
  font-weight: bold;
}

.Result {
  display: inherit;
  color: white;
}

.Result button {
  display: inline;
  border-radius: 3px;
  background-color: lightblue;
  font-weight: bold;
}

:disabled {
  background-color: grey;
  color: white;
}
