.header {
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.headertitle h1 {
  font-size: 1.5rem;
  color: goldenrod;
}

.flexaligntitleandbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  margin-left: 33vw;
}

.btncontainer {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.userdisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 2rem;
  margin-right: 1rem;
  color: rgb(255, 227, 65);
  background-color: rgb(136, 136, 136);
  border-radius: 0.5rem;
}

.userloggedin {
  display: flex;
  width: 15rem;
  color: white;
}

.userloggedin img {
  width: 1.5rem;
  background-color: gray;
  padding: 0.1rem;
  border-radius: 0.5rem;
}

.userloggedin img:hover {
  cursor: pointer;
}
