body {
  background-image: url("../../images/summonerbackground.jpg");
}
.App {
  text-align: center;
}

.App h2 {
  color: white;
}

.infocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: fit-content;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
}

.inputfield {
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
}

::placeholder {
  color: black;
  opacity: 0.7;
}

.form button {
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(167, 167, 167);
  font-size: 1rem;
}
