body {
  background-image: url("../../images/summonerbackground.jpg");
}
.App {
  text-align: center;
}

.App h2 {
  color: white;
}

.infocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: fit-content;
  margin: auto;
}

.form {
  justify-content: space-between;
}
